# Miscellaneous
*.class
*.lock
*.log
.DS_Store
.vscode/
.idea
*.iml

# Dart related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/

# Rust related
target/
*.a
*.so
*.dylib
*.dll
*.wasm
*.zip
*.xcframework/
isar-dart.h

# Android related
gradle-wrapper.jar
.gradle/
gradlew
gradlew.bat
local.properties

# iOS/XCode related
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/profile
**/ios/**/xcuserdata
**/ios/.generated/
**/ios/Flutter/.last_build_id
**/ios/Flutter/App.framework
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/ephemeral
**/ios/Flutter/app.flx
**/ios/Flutter/app.zip
**/ios/Flutter/flutter_assets/
**/ios/Flutter/flutter_export_environment.sh
**/ios/ServiceDefinitions.json
**/ios/Runner/GeneratedPluginRegistrant.*

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/ephemeral
**/.plugin_symlinks/

# Coverage
*.info
*.profraw
*.json